<a href="https://colab.research.google.com/github/PhaniKoustubha/Python_list-tuple-dictionary/blob/main/lists%2Ctuple%2Cdictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Basic arithematic operations
#addition

a = int(input("Enter any number"))
b = int(input("Enter any number"))
c = a+bs
print(c)

Enter any number36
Enter any number64
100

In [ ]:
#subtraction

a = int(input('Enter any number'))
b = int(input('Enter any number'))
c = a-b
print(c)

Enter any number36
Enter any number18
18

In [ ]:
#multiplication

a = int(input("Enter any number"))
b = int(input("Enter any number"))
c = a*b
print(c)

Enter any number12
Enter any number4
48

In [ ]:
#division

a = int(input("Enter any number"))
b = int(input("Enter any number"))
c = a/b
print(c)

Enter any number16
Enter any number4
4.0

In [ ]:
  #modulus

  a = int(input("Enter any number"))
  b = int(input("Enter any number"))
  c = a%b
  print(c)

Enter any number40
Enter any number12
4

Conditional statements

In [ ]:
#if

n = int(input("Enter the value of n : "))
if(n == 0):
  print("The number is Zero")
print("It is not a zero")

Enter the value of n : 7
It is not a zero

In [ ]:
#ifelse

n=int( input( "Enter the value of n:" ) )
if(n>0):
  print("The number is positive")
else:
  print("The number is negative")

Enter the value of n:8
The number is positive

In [ ]:
#elif

x=int(input("Enter the value of x:"))
y=int(input("Enter the value of y:"))
z=int(input("Enter the value of z:"))
if(x>y or x>z):
  print("x is greater")
elif(y>x or y>z):
  print("y is greater")
else:
  print("z is greater")

Enter the value of x:1
Enter the value of y:4
Enter the value of z:3
y is greater

In [ ]:
#elif

a=int(input("Enter the year"))
if (a%400==0):
  print("The given year is leap year")
elif (a%4==0):
  print("The given year is leap year")
elif(a%100==0):
  print("The given year is not a leap year")
else:
  print("The given year is not a leap year")

Enter the year2986
The given year is not a leap year

**String Manupulations**

In [ ]:
#concatinating
a = input()
b = input()
c = a+b
print(c)

Main Flow
Services and Technologies
Main FlowServices and Technologies

In [ ]:
#slicing
a = input()
print(a[:5-2])

AICTE
AIC

In [ ]:
#uppercase
a = input()
y = a.upper()
print(y)

Main Flow Services and Technology
MAIN FLOW SERVICES AND TECHNOLOGY

In [ ]:
#lowercase
a = input()
y = a.lower()
print(y)

Main Flow Services and Technology
main flow services and technology

In [ ]:
#splitting
a = input()
y = a.split()
print(y)

Main Flow Services and Technology
['Main', 'Flow', 'Services', 'and', 'Technology']

In [ ]:
#replace
a = "Python programming"
print(a)
y = a.replace("programming","developer")
print(y)

Python programming
Python developer

**LIST OPERATIONS**

In [ ]:
#creating list
l = [2,3,5,7,11,13,17]
print("Elements are:",l)

Elements are: [2, 3, 5, 7, 11, 13, 17]

In [ ]:
#appending
l.append(23)
print("Updated elements:",l)

Updated elements: [2, 3, 5, 7, 11, 13, 17, 23, 23]

In [ ]:
#removing
l.remove(23)
print("After removing:",l)

After removing: [2, 3, 5, 7, 11, 13, 17]

In [ ]:
#poping
y = l.pop()
print("POP:",y)

POP: 13

In [ ]:
#length
x = len(l)
print("LENGTH:",x)

LENGTH: 6

In [ ]:
#min
x = min(l)
print("MIN:",x)

MIN: 2

In [ ]:
#max
x = max(l)
print("MAX:",x)

MAX: 13

In [ ]:
#sum
y = sum(l)
print("Sum:",y)

Sum: 41

In [ ]:
#reversing
y = l.reverse()
print("Reverse:",l)

Reverse: [11, 7, 5, 3, 2]

In [ ]:
#sorting
l.sort()
print("Sorted element",l)

Sorted element [2, 3, 5, 7, 11]

In [ ]:
#slicing
print("After slicing:",l[:3])

After slicing: [2, 3, 5]

In [ ]:
#inserting
l.insert(6,23)
print("inserted list:",l)

inserted list: [2, 3, 5, 7, 11, 23]

DICTIONARY OPERATIONS

In [ ]:
#creating
d = {1 : "hi", 2 : "hello", 3 : "me", 4 : "you"}
print(d)
#adding a key - value
d[5] = "she"
print(d)
#modifying
d[4] = "he"
print(d)
#del
del d[2]
print(d)
#values
print(d.values())
#keys
print(d.keys())
#items
print(d.items())
#copy
a = d.copy()
print(a)
#popping
print(d.pop(1))
print(d)
#clear
d.clear()
print(d)

{1: 'hi', 2: 'hello', 3: 'me', 4: 'you'}
{1: 'hi', 2: 'hello', 3: 'me', 4: 'you', 5: 'she'}
{1: 'hi', 2: 'hello', 3: 'me', 4: 'he', 5: 'she'}
{1: 'hi', 3: 'me', 4: 'he', 5: 'she'}
dict_values(['hi', 'me', 'he', 'she'])
dict_keys([1, 3, 4, 5])
dict_items([(1, 'hi'), (3, 'me'), (4, 'he'), (5, 'she')])
{1: 'hi', 3: 'me', 4: 'he', 5: 'she'}
hi
{3: 'me', 4: 'he', 5: 'she'}
{}

TUPLE OPERATIONS

In [ ]:
#concatination
t1 = (1,2,3,4,'hii')
t2 = ('me','you',5,6)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 'hii', 'me', 'you', 5, 6)

In [ ]:
t = (1,2,3,4,5)
#max
print(max(t))
#min
print(min(t))
#sum
print(sum(t))
#length
print(len(t))

5
1
15
5